NODE_ENV=production
PORT=30002
PGSSL=off
MASTER_DB_URL=postgresql://hortnet_hortnet:N1zoRCR6P6vKgnm@localhost:5432/hortnet_v1_master
TENANT_ASAMBASTI_URL=postgresql://hortnet_hortnet:N1zoRCR6P6vKgnm@localhost:5432/hortnet_v1_asambasti
JWT_SECRET=4c039c6f8ad7812be55c77b6b5263e8f51c20feac9668346ade7a4807f1c1c10af17374d94a26ac780b794717311a658
JWT_EXPIRES_IN=7d
SA_JWT_SECRET=HortNet@SA#2026$Secret!BD
